@model BAH.MusicPerformanceTracker.BL.Piece

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Piece Writers:
        </dt>

        @if (Model.PieceWriters.Count == 0)
        {
            <h3>None</h3>
        }
        else
        {
            foreach (var item in Model.PieceWriters)
            {

                @Html.ActionLink(@item.FullName, "Details", "Composer", new { id = item.ComposerId }, null)
                <span>|</span>
                @item.ComposerTypeDescription
                <br />

            }
        }

        <dt>
            Genres:
        </dt>
        @if (Model.Genres.Count == 0)
        {
            <h3>None</h3>
        }
        else
        {
            int count = 0;
            foreach (var item in Model.Genres)
            {
                count++;

                @item.Description
                if (count != Model.Genres.Count)
                {
                    <span class="m-2"> | </span>
                }


            }
        }

        @if (!string.IsNullOrEmpty(Model.GradeLevel))
        {
            <dt>
                @Html.DisplayNameFor(model => model.GradeLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GradeLevel)
            </dd>
        }
        @if (Model.YearWritten > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.YearWritten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YearWritten)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PerformanceNotes)
        </dt>

        <dd style="white-space: pre-line">
            @Html.DisplayFor(model => model.PerformanceNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("View All Pieces", "Index")
</p>
