@model BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchResult

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>



@using (Html.BeginForm())
{
    <p>
        Search by Name: @Html.TextBox("searchQuery", ViewBag.CurrentFilter as string)
        @Html.DropDownList("ddlSearchTable", new SelectList(Enum.GetValues(typeof(BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchType))))
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Performance", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Performance Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model.PerformanceList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Performance", new { id = item.Id }, null)
            </td>
            <td>
                @item.PerformanceDate.ToString("MM/dd/yyyy")
            </td>
        </tr>
    }

</table>
