@model BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchResult

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>



@using (Html.BeginForm())
{
    <p>
        Search by Name: @Html.TextBox("searchQuery", ViewBag.CurrentFilter as string, new { @class = "form-control d-inline" })
        @Html.DropDownList("ddlSearchTable", new SelectList(Enum.GetValues(typeof(BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchType))), null, new { @class = "form-control d-inline" })
        <input type="submit" value="Search" class="form-control d-inline" />
    </p>
}

@if (Model.SearchMode == BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchType.Performance)
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Performance", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
            <th>
                @Html.ActionLink("Performance Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
        </tr>

        @foreach (var item in Model.PerformanceList)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Performance", new { id = item.Id }, null)
                </td>
                <td>
                    @item.PerformanceDate.ToString("MM/dd/yyyy")
                </td>
            </tr>
        }

    </table>
}
else if (Model.SearchMode == BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchType.Piece)
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Piece", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
            <th>
                @Html.ActionLink("Year Written", "Index", new { sortOrder = ViewBag.YearSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
        </tr>

        @foreach (var item in Model.PieceList)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Piece", new { id = item.Id }, null)
                </td>
                <td>
                    @item.YearWritten
                </td>
            </tr>
        }

    </table>
}
else if (Model.SearchMode == BAH.MusicPerformanceTracker.PublicUI.ViewModels.SearchType.Composer)
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Composer", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
            <th>
                @Html.ActionLink("Gender", "Index", new { sortOrder = ViewBag.GenderSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
            <th>
                @Html.ActionLink("Race", "Index", new { sortOrder = ViewBag.RaceSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
            <th>
                @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm, currentFilter = ViewBag.CurrentFilter, ddlSearchTable = Model.SearchMode.ToString() })
            </th>
        </tr>

        @foreach (var item in Model.ComposerList)
        {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", "Composer", new { id = item.Id }, null)
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Race
            </td>
            <td>
                @item.Location
            </td>
        </tr>
        }

    </table>
}