@model BAH.MusicPerformanceTracker.BL.Composer

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="mt-2">@Model.FullName</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>



        <hr />
        <h3>Pieces on this site:</h3>
        @if (Model.PiecesWritten == null || Model.PiecesWritten.Count == 0)
        {
            <h5>None in the system.</h5>
        }
        else
        {
            foreach (var item in Model.PiecesWritten)
            {
                <div class="card mt-2">
                    <div class="card-body">
                        <span class="h5">@Html.ActionLink(@item.Name, "Details", "Piece", new { id = item.Id }, null) </span><br />
                    </div>
                </div>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("View All Composers", "Index")
</p>
